@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.attribution a {
  color: #3e52a3;
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  height: 100vh;
  background: url(../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../images/bg-pattern-bottom-desktop.svg) 100% -150% no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-container {
  width: 950px;
  height: 500px;
}

.info-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: "flex-start";
  align-items: "center";
}
.info-container .text-container {
  width: 50%;
  height: 100%;
  color: #502050;
}
.info-container .text-container h1 {
  font-size: 2.5rem;
  width: 70%;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 2.6rem;
}
.info-container .text-container p {
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 1.3rem;
  width: 85%;
  font-weight: 500;
  color: #937b92;
}
.info-container .rates-container {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
.info-container .rates-container .starsCard {
  width: 370px;
  height: 47px;
  border-radius: 0.3rem;
  margin-top: 15px;
  background: #f7f2f7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.info-container .rates-container .starsCard .stars {
  margin: 0px 25px;
  height: 100%;
  display: flex;
  align-items: center;
}
.info-container .rates-container .starsCard .stars img {
  margin-right: 5px;
  width: 15px;
}
.info-container .rates-container .starsCard p {
  font-size: 0.7rem;
  font-weight: 700;
  color: #502050;
}
.info-container .rates-container .starsCard:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}
.info-container .rates-container .starsCard:nth-child(3) {
  float: right;
}

.reviews-container {
  width: 100%;
  height: 50%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.reviews-container .review-card {
  width: 300px;
  background: #502050;
  box-sizing: border-box;
  padding: 30px 25px;
  border-radius: 0.4rem;
}
.reviews-container .review-card .review-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.reviews-container .review-card .review-header img {
  border-radius: 50%;
  width: 35px;
  margin-right: 20px;
}
.reviews-container .review-card .review-header p {
  font-size: 0.7rem;
  font-weight: 400;
  color: #ee68a4;
}
.reviews-container .review-card .review-header p span {
  display: block;
  font-weight: 600;
  color: white;
  margin-bottom: 3px;
}
.reviews-container .review-card .review-text {
  margin-top: 20px;
  font-size: 0.7rem;
  line-height: 1.3rem;
}
.reviews-container .review-card:nth-child(2) {
  margin-top: 20px;
}
.reviews-container .review-card:nth-child(3) {
  margin-top: 40px;
}

@media only screen and (max-width: 376px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    background: url(../images/bg-pattern-top-mobile.svg) left top no-repeat, url(../images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
  }

  #main-container {
    width: 330px;
    height: auto;
    margin: 80px auto;
  }

  .info-container {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: "flex-start";
    align-items: "center";
  }
  .info-container .text-container {
    width: 100%;
    height: auto;
  }
  .info-container .text-container h1 {
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
  }
  .info-container .text-container p {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
  }
  .info-container .rates-container {
    width: 100%;
    height: auto;
  }
  .info-container .rates-container .starsCard {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .info-container .rates-container .starsCard .stars {
    height: 20px;
  }
  .info-container .rates-container .starsCard .stars img {
    width: 18px;
  }
  .info-container .rates-container .starsCard p {
    font-size: 0.9rem;
  }
  .info-container .rates-container .starsCard:nth-child(3) {
    float: none;
  }

  .reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .reviews-container .review-card {
    width: 100%;
    padding: 40px 30px;
    margin-bottom: 20px;
  }
  .reviews-container .review-card:nth-child(2) {
    margin-top: 0;
  }
  .reviews-container .review-card:nth-child(3) {
    margin-top: 0;
  }
  .reviews-container .review-card .review-text {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=main.css.map */
