@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

//colors/////////////////////////////////
//Primary
$Red: hsl(0, 100%, 74%) ;
$Green: hsl(154, 59%, 51%);

//Accent
$Blue: hsl(248, 32%, 49%);

//Neutral
$Dark-Blue: hsl(249, 10%, 26%) ;
$Grayish-Blue: hsl(246, 25%, 77%);

//flex col mixin
@mixin flexCol($jc:flex-start,$ai:flex-start) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
}
//flex row mixin
@mixin flexRow($jc:flex-start,$ai:flex-start) {
    display: flex;
    flex-direction: row;
    justify-content: $jc;
    align-items: $ai;
}

//border radius
$border_radius_one:0.6rem;