@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

//colors/////////////////////////////////////
//primary
$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);
//neutral
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

//flex col mixin
@mixin flexCol($jc:flex-start,$ai:flex-start) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
}
//flex row mixin
@mixin flexRow($jc:flex-start,$ai:flex-start) {
    display: flex;
    flex-direction: row;
    justify-content: $jc;
    align-items: $ai;
}



