@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//COLOR VARIABLES
//Primary Text
$Very-dark-desaturated-blue: hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);

//Background gradient:
$Soft-violet: hsl(273, 75%, 66%);
$Soft-blue: hsl(240, 73%, 65%);

//Neutral Text
$Very-dark-grayish-blue: hsl(237, 12%, 33%);
$Dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$Light-grayish-blue: hsl(240, 5%, 91%);

*{
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    color: white;
    a{
        color: rgb(255, 204, 109);
    }
}

html{
    font-size: 16px;
}

body{
    background-image: linear-gradient(to bottom,$Soft-violet,$Soft-blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 15px;
}

#main-container{
    width: 820px;
    height: 450px;
    background-color: white;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 0px 20px 20px 7px rgba(58, 0, 151, 0.205);
}

.img-container{
    position: relative;
    width: 50%;
    height: 100%;
    #pattern-container{
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: 210%;
        background-position: 113% 68%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;

        img:first-child{
            width: 105%;
            margin-left: -75px;
        }
        img:nth-child(2){
            width: 40%;
            position: absolute;
            top: 42%;
            left:-19%;
        }
    }
}
.faq-container{
    margin-left: 30px;
    width: 50%;
    font-weight: 0.7rem;
    box-sizing: border-box;
    padding-top: 50px;


    h1{
        color:$Very-dark-desaturated-blue;
    }

    .questions-container{
        width: 80%;
        margin-top: 15px;
        color:$Very-dark-grayish-blue;

        hr{
            display: block;
            height: 1px;
            border:none;
            background-color: $Light-grayish-blue;
        }

        .question{
            padding: 15px 0px;
            .ques-title-container{
                width: 96%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                img{
                    width: 10px;
                    cursor: pointer;
                    transition: 0.2s;
                }

                h4{
                    color:$Very-dark-grayish-blue;
                    font-weight: 400;
                    font-size: 0.8rem;
                    transition: 0.2s color;
                    cursor: pointer;

                    &:hover{
                        color:$Soft-red;
                    }
                }
            }

            p{
                display: none;
                margin-top: 10px;
                font-size: 0.7rem;
                font-weight: 300;
                color:$Dark-grayish-blue;
                line-height: 1.2rem;
            }
        }
    }
}

.arrowUp{
    transform: rotate(180deg);
    transition: 0.2s;
}

.BoldTQuesTitle{
    font-weight: 700 !important;
    color:$Very-dark-desaturated-blue !important;
}

@media only screen and(max-width:376px){

    html{
        font-size: 15px;
        height: 100%;
    }

    .attribution{
        margin-bottom: 20px;
    }

    body{
        background-image: none ;
        background-color: $Soft-violet ;
        height: auto;
    }

    #main-container{
        flex-direction:column;
        width: 300px;
        height: auto;
        margin-top: 150px;
        padding-bottom: 50px;
        .img-container{
            width: 100%;
            height: 130px;
            #pattern-container{
                // background-color: rgba(128, 128, 0, 0.384);
                background-position: 50% 290%;
                background-size: 80%;
                height: 190px;
                overflow: visible;
                img:first-child{
                    width: 80%;
                    margin-left: 30px;
                    margin-top: -230px;
                }
                img:nth-child(2){
                    width: 35%;
                    top: -38%;
                    left:5%;
                }
            }
        }
        .faq-container{
            margin-left: 0px;
            width: 100%;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .questions-container{
                width: 85%;
                .question{
                    padding: 20px 0px;
                }
                p{
                    width: 90%;
                }
            }
        }
    }
}





